
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background-color:rgb(8, 161, 221);
    /* height: 1000px; */
    

}
 

.container{
    background-color: white;
    /* width: 800px; */
    /* height: auto; */

    /* margin: 49px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    box-shadow: 2px 3px 8px black;
}
 
textarea{
    border: 1px groove rgb(8, 161, 221) ;
    padding: 5px;
}

label , legend{
    padding: 7px;
}

input{
   
    margin-left: 5px;
    border: 1px groove rgb(8, 161, 221) ;

}
fieldset{
    font-weight: bold;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border: 2px groove rgb(8, 161, 221);
    box-shadow: 2px 2px 3px rgb(26, 25, 25);
}


.width-form2{
    width: 300px;
    padding: 0px 30px 30px 30px;
    
    /* height: 300px; */
;
}

.width-form2 textarea{
    padding: 20px;
    outline: none;
    
}

.width-form{
    padding: 20px 30px;
}

.width-form input{
    
    width: 250px;
    padding: 10px;

    outline: none;
    border-radius: 7px;
}

.upload-image{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(8, 161, 221);
    box-shadow: 2px 2px 3px gray;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
}
.imgbtn{
    background-color:rgb(8, 161, 221) ;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.lab{
    display: block;
    background-color:rgb(8, 161, 221) ;
    color: white;
}
#upload{
    display: none;
}

#img-defult{
    width: 100px;
    height: 100px;
    border-radius:50%;
}
.btn a{
    text-decoration: none;
    color: white;
}

.b{
    display: flex;
    justify-content:flex-start;
}

.btn{
    /* margin-top: 30px; */
    margin-bottom: 120px;
    padding: 20px 30px;
    font-size: 18px;
    margin-top: 50px;
    
    background-color: rgb(8, 161, 221) ;
    color: white;
    border-radius: 12px;
    border: transparent;
    box-shadow: 2px 2px 2px black;
}
#resume-genrate{
    box-shadow: 2px 2px 2px gray;
    line-height: 2;
    border: 2px solid rgb(8, 161, 221);
    width: 400px;
    padding: 20px;
}
